.btn-c {
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: yellow;
  border-radius: 2px;
  border-color: yellow;
  border-width: 0px;
}

.btn-container {
  margin-bottom: 20px;
  display: flex
}

.btn-hi {
  margin-right: 20px;
  margin-bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.msg {
  padding: 10px;

}

@media only screen and (max-width:400px) {
  .btn-container {
    flex-direction: column;
  }
}